{% extends "base.html" %}
{% block content %}
<div>
{% for ann in annotations %}
<b>{{ ann['@id'] }}</b>
<ul>
{% for key, val in ann.items() %}
{% if key != '@id' %}
<li>{{ key }}: 
{% if isinstance(val, basestring) %}
{% if val.startswith('http://') %}
  <a href="{{ val }}">{{ val }}</a>
{% else %}
  {{ val }}
{% endif %}
{% elif isinstance(val, dict) and '@id' in val %}
  <a href="{{ val['@id'] }}">{{ val['@id'] }}</a>
{% elif isinstance(val, list) %}
{% for v in val %}
  {% if isinstance(v, basestring) %}
    {% if v.startswith('http://') %}
      <a href="{{ v }}">{{ v }}</a>
    {% else %}
      {{ v }}
    {% endif %}
  {% elif isinstance(v, dict) and '@id' in v %}
    <a href="{{ v['@id'] }}">{{ v['@id'] }}</a>
  {% else %}
    {{ v }}
  {% endif %}
{% endfor %}
{% else %}
{{ val }}
{% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
{% else %}
<b>No annotations found!</b>
{% endfor %}
<div>
{% for link in ['start', 'prev', 'next', 'last'] %}
{% if link in collection %}
<a href="{{ collection[link] }}&doc=all&style=list">{{ link }}</a>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
