{% extends "base.html" %}
{% block content %}
<div>
{% for ann in annotations %}
<b>{{ ann['@id'] }}</b>
<ul>
{% for key, val in ann.items() %}
{% if key != '@id' %}
<li>{{ key }}: 
{% if val.startswith('http://') %}
  <a href="{{ val }}">{{ val }}</a>
{% else %}
  {{ val }}
{% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
{% else %}
<b>No annotations found!</b>
{% endfor %}
<div>
{% for link in ['start', 'prev', 'next', 'last'] %}
{% if link in collection %}
<a href="{{ collection[link] }}&doc=all&style=list">{{ link }}</a>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
