{% extends "base.html" %}
{% block content %}
<div class="container">
  {% if warning %}
  <div class="alert alert-warning text-center">{{ warning }}</div>
  {% endif %}
  <form class="url-form" action="{{ root }}" method="get">
    <div>
    <input name="url" type="text" class="form-control inline-input"
	   placeholder="RESTful Open Annotation store URL"
	   value="weaver.nlplab.org:5000/annotations">
    <input type="submit" class="btn btn-primary inline-button"
	   value="Explore">
    </div>
</div>
{% endblock %}
